---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ledfx
  namespace: home-automation
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-oci
        namespace: flux-system

  values:
    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: node-role.kubernetes.io/control-plane
                  operator: Exists

    controllers:
      ledfx:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "networking",
                "ips": ["192.168.2.250/16"]
              }]
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: false
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

        containers:
          pulse:
            image:
              repository: unixology/pulse
              tag: "10290509"
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 100m
                memory: 1024Mi

          shairport:
            image:
              repository: mikebrady/shairport-sync
              tag: "latest"
            command:
              - "-o"
              - "pa"
            env:
              PULSE_SERVER: "unix:/home/ledfx/.config/pulse/pulseaudio.socket"
              PULSE_COOKIE: "/home/ledfx/.config/pulse/cookie"
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 100m
                memory: 1024Mi

    persistence:
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
