---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ledfx
  namespace: home-automation
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-oci
        namespace: flux-system

  values:
    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: node-role.kubernetes.io/control-plane
                  operator: Exists

    controllers:
      app:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "networking",
                "ips": ["192.168.2.250/16"]
              }]
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: false
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

        containers:
          pulse:
            image:
              repository: unixology/pulse
              tag: "11081659"
            env:
              PULSE_SERVER: "unix:/tmp/pulseaudio.socket"
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 20m
                memory: 64Mi

          shairport:
            image:
              repository: mikebrady/shairport-sync
              tag: "latest"
            args:
              - "-o"
              - "pa"
            env:
              PULSE_SERVER: "unix:/tmp/pulseaudio.socket"
            securityContext:
              runAsUser: 0
              runAsGroup: 1000
              runAsNonRoot: false
              fsGroup: 1000
              fsGroupChangePolicy: OnRootMismatch
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 100m
                memory: 64Mi

          app:
            image:
              repository: unixology/ledfx
              tag: "11081659"
            env:
              PULSE_SERVER: "unix:/home/ledfx/.config/pulse/pulseaudio.socket"
              PULSECLIENTMODE: "1"
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 1000m
                memory: 256Mi

    service:
      app:
        controller: app
        ports:
          http:
            port: 8888

    ingress:
      app:
        enabled: true
        className: "nginx"
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/appName: "LedFX"
          hajimari.io/icon: mdi:lightbulb-on-60
        hosts:
          - host: &host ledfx.k8sj.io
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      ledfx:
        existingClaim: ledfx
        advancedMounts:
          app:
            app:
              - path: /home/ledfx/.ledfx
      tmp:
        type: emptyDir
        advancedMounts:
          app:
            app:
              - path: /home/ledfx/.config/pulse/
                subPath: app-tmp
            pulse:
              - path: /tmp
                subPath: app-tmp
            shairport:
              - path: /tmp
                subPath: app-tmp
