---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  interval: 30m
  timeout: 15m
  valuesFrom:
    - kind: ConfigMap
      name: prom-values
