---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: go2rtc
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: go2rtc
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      go2rtc:
        replicas: 2
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: RollingUpdate
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 65534
            runAsGroup: 65534
            seccompProfile: { type: RuntimeDefault }
        containers:
          app:
            image:
              repository: ghcr.io/alexxit/go2rtc
              tag: 1.9.12@sha256:baef0aa19d759fcfd31607b34ce8eaf039d496282bba57731e6ae326896d7640
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 0.2
              limits:
                memory: 1024Mi
    service:
      app:
        controller: go2rtc
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 172.16.99.106
        ports:
          http:
            port: *port
          rtsp:
            port: 554
          webrtc-tcp:
            port: 8555
            protocol: TCP
          webrtc-udp:
            port: 8555
            protocol: UDP
    ingress:
      app:
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/appName: "go2rtc"
          hajimari.io/icon: mdi:cctv
        className: nginx
        hosts:
          - host: &host go2rtc.k8sj.io
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Go2rtc
          gethomepage.dev/group: "Home Automation"
          gethomepage.dev/icon: sh-go2rtc.png
          gethomepage.dev/name: go2rtc
          gethomepage.dev/app: go2rtc
        hostnames: ["{{ .Release.Name }}.k8sj.io"]
        parentRefs:
          - name: envoy-internal
            namespace: networking

    persistence:
      config:
        type: secret
        name: go2rtc-config
        globalMounts:
          - path: /config
            readOnly: true
