---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-multus
  namespace: flux-system
spec:
  interval: 20m
  path: "./k8s/apps/networking/multus/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  retryInterval: 1m
  timeout: 15m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-multus-config
  namespace: flux-system
spec:
  interval: 20m
  path: "./k8s/apps/networking/multus/config"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  retryInterval: 1m
  timeout: 15m
  dependsOn:
    - name: cluster-apps-multus
