---
apiVersion: v1
kind: Pod
metadata:
  name: disk-clean-cp-4
  namespace: rook-ceph
spec:
  restartPolicy: Never
  nodeName: cp-4
  volumes:
    - name: rook-data-dir
      hostPath:
        path: /var/lib/rook
  containers:
    - name: disk-clean
      image: busybox@sha256:fba0711bd6995f7e0158f397d85f63998b4c8b1a1e3b1e9e0394c7b165585440
      securityContext:
        privileged: true
      volumeMounts:
        - name: rook-data-dir
          mountPath: /node/rook-data
      command:
        - /bin/sh
        - -c
        - rm -rf /node/rook-data/*

---
apiVersion: v1
kind: Pod
metadata:
  name: disk-clean-cp-1
  namespace: rook-ceph
spec:
  restartPolicy: Never
  nodeName: cp-1
  volumes:
    - name: rook-data-dir
      hostPath:
        path: /var/lib/rook
  containers:
    - name: disk-clean
      image: busybox@sha256:fba0711bd6995f7e0158f397d85f63998b4c8b1a1e3b1e9e0394c7b165585440
      securityContext:
        privileged: true
      volumeMounts:
        - name: rook-data-dir
          mountPath: /node/rook-data
      command:
        - /bin/sh
        - -c
        - rm -rf /node/rook-data/*

---
apiVersion: v1
kind: Pod
metadata:
  name: disk-clean-cp-2
  namespace: rook-ceph
spec:
  restartPolicy: Never
  nodeName: cp-2
  volumes:
    - name: rook-data-dir
      hostPath:
        path: /var/lib/rook
  containers:
    - name: disk-clean
      image: busybox@sha256:fba0711bd6995f7e0158f397d85f63998b4c8b1a1e3b1e9e0394c7b165585440
      securityContext:
        privileged: true
      volumeMounts:
        - name: rook-data-dir
          mountPath: /node/rook-data
      command:
        - /bin/sh
        - -c
        - rm -rf /node/rook-data/*

---
apiVersion: v1
kind: Pod
metadata:
  name: disk-clean-cp-3
  namespace: rook-ceph
spec:
  restartPolicy: Never
  nodeName: cp-3
  volumes:
    - name: rook-data-dir
      hostPath:
        path: /var/lib/rook
  containers:
    - name: disk-clean
      image: busybox@sha256:fba0711bd6995f7e0158f397d85f63998b4c8b1a1e3b1e9e0394c7b165585440
      securityContext:
        privileged: true
      volumeMounts:
        - name: rook-data-dir
          mountPath: /node/rook-data
      command:
        - /bin/sh
        - -c
        - rm -rf /node/rook-data/*
