---
apiVersion: v1
kind: Pod
metadata:
  name: disk-wipe-cp-0
  namespace: rook-ceph
spec:
  restartPolicy: Never
  nodeName: cp-0
  containers:
    - name: disk-wipe
      image: rook/ceph:v1.11.10@sha256:2e19baf713d00d4f94cea6bf5abc385395a7a1c4092721d248f3f128b0355ed2
      securityContext:
        privileged: true
      command:
        [
          "/bin/sh",
          "-c",
          "sgdisk --zap-all /dev/nvme0n1",
          "dd if=/dev/zero bs=1M count=10000 oflag=direct of=/dev/nvme0n1",
          "blkdiscard /dev/nvme0n1",
          "partprobe /dev/nvme0n1",
        ]
      volumeMounts:
        - mountPath: /dev
          name: dev
  securityContext:
    runAsUser: 0
    runAsGroup: 0
  volumes:
    - name: dev
      hostPath:
        path: /dev
---
apiVersion: v1
kind: Pod
metadata:
  name: disk-wipe-cp-1
  namespace: rook-ceph
spec:
  restartPolicy: Never
  nodeName: cp-1
  containers:
    - name: disk-wipe
      image: rook/ceph:v1.11.10@sha256:2e19baf713d00d4f94cea6bf5abc385395a7a1c4092721d248f3f128b0355ed2
      securityContext:
        privileged: true
      command:
        [
          "/bin/sh",
          "-c",
          "sgdisk --zap-all /dev/nvme0n1",
          "dd if=/dev/zero bs=1M count=10000 oflag=direct of=/dev/nvme0n1",
          "blkdiscard /dev/nvme0n1",
          "partprobe /dev/nvme0n1",
        ]
      volumeMounts:
        - mountPath: /dev
          name: dev
  securityContext:
    runAsUser: 0
    runAsGroup: 0
  volumes:
    - name: dev
      hostPath:
        path: /dev
---
apiVersion: v1
kind: Pod
metadata:
  name: disk-wipe-cp-2
  namespace: rook-ceph
spec:
  restartPolicy: Never
  nodeName: cp-2
  containers:
    - name: disk-wipe
      image: rook/ceph:v1.11.10@sha256:2e19baf713d00d4f94cea6bf5abc385395a7a1c4092721d248f3f128b0355ed2
      securityContext:
        privileged: true
      command:
        [
          "/bin/sh",
          "-c",
          "sgdisk --zap-all /dev/nvme0n1",
          "dd if=/dev/zero bs=1M count=10000 oflag=direct of=/dev/nvme0n1",
          "blkdiscard /dev/nvme0n1",
          "partprobe /dev/nvme0n1",
        ]
      volumeMounts:
        - mountPath: /dev
          name: dev
  securityContext:
    runAsUser: 0
    runAsGroup: 0
  volumes:
    - name: dev
      hostPath:
        path: /dev

---
apiVersion: v1
kind: Pod
metadata:
  name: disk-wipe-cp-3
  namespace: rook-ceph
spec:
  restartPolicy: Never
  nodeName: cp-3
  containers:
    - name: disk-wipe
      image: rook/ceph:v1.11.10@sha256:2e19baf713d00d4f94cea6bf5abc385395a7a1c4092721d248f3f128b0355ed2
      securityContext:
        privileged: true
      command:
        [
          "/bin/sh",
          "-c",
          "sgdisk --zap-all /dev/nvme0n1",
          "dd if=/dev/zero bs=1M count=10000 oflag=direct of=/dev/nvme0n1",
          "blkdiscard /dev/nvme0n1",
          "partprobe /dev/nvme0n1",
        ]
      volumeMounts:
        - mountPath: /dev
          name: dev
  securityContext:
    runAsUser: 0
    runAsGroup: 0
  volumes:
    - name: dev
      hostPath:
        path: /dev

