---
apiVersion: v1
kind: Pod
metadata:
  name: disk-wipe-cp-0
  namespace: rook-ceph
spec:
  restartPolicy: Never
  nodeName: cp-0
  containers:
    - name: disk-wipe
      image: rook/ceph:v1.12.1@sha256:9829f143cfb3370cee55cc5f0ad73f01aab1db399526a122ae49a047a9ad5c39
      securityContext:
        privileged: true
      command:
        [
          "/bin/sh",
          "-c",
          "sgdisk --zap-all /dev/nvme0n1",
          "dd if=/dev/zero bs=1M count=10000 oflag=direct of=/dev/nvme0n1",
          "blkdiscard /dev/nvme0n1",
          "partprobe /dev/nvme0n1",
        ]
      volumeMounts:
        - mountPath: /dev
          name: dev
  securityContext:
    runAsUser: 0
    runAsGroup: 0
  volumes:
    - name: dev
      hostPath:
        path: /dev
---
apiVersion: v1
kind: Pod
metadata:
  name: disk-wipe-cp-1
  namespace: rook-ceph
spec:
  restartPolicy: Never
  nodeName: cp-1
  containers:
    - name: disk-wipe
      image: rook/ceph:v1.12.1@sha256:9829f143cfb3370cee55cc5f0ad73f01aab1db399526a122ae49a047a9ad5c39
      securityContext:
        privileged: true
      command:
        [
          "/bin/sh",
          "-c",
          "sgdisk --zap-all /dev/nvme0n1",
          "dd if=/dev/zero bs=1M count=10000 oflag=direct of=/dev/nvme0n1",
          "blkdiscard /dev/nvme0n1",
          "partprobe /dev/nvme0n1",
        ]
      volumeMounts:
        - mountPath: /dev
          name: dev
  securityContext:
    runAsUser: 0
    runAsGroup: 0
  volumes:
    - name: dev
      hostPath:
        path: /dev
---
apiVersion: v1
kind: Pod
metadata:
  name: disk-wipe-cp-2
  namespace: rook-ceph
spec:
  restartPolicy: Never
  nodeName: cp-2
  containers:
    - name: disk-wipe
      image: rook/ceph:v1.12.1@sha256:9829f143cfb3370cee55cc5f0ad73f01aab1db399526a122ae49a047a9ad5c39
      securityContext:
        privileged: true
      command:
        [
          "/bin/sh",
          "-c",
          "sgdisk --zap-all /dev/nvme0n1",
          "dd if=/dev/zero bs=1M count=10000 oflag=direct of=/dev/nvme0n1",
          "blkdiscard /dev/nvme0n1",
          "partprobe /dev/nvme0n1",
        ]
      volumeMounts:
        - mountPath: /dev
          name: dev
  securityContext:
    runAsUser: 0
    runAsGroup: 0
  volumes:
    - name: dev
      hostPath:
        path: /dev

---
apiVersion: v1
kind: Pod
metadata:
  name: disk-wipe-cp-3
  namespace: rook-ceph
spec:
  restartPolicy: Never
  nodeName: cp-3
  containers:
    - name: disk-wipe
      image: rook/ceph:v1.12.1@sha256:9829f143cfb3370cee55cc5f0ad73f01aab1db399526a122ae49a047a9ad5c39
      securityContext:
        privileged: true
      command:
        [
          "/bin/sh",
          "-c",
          "sgdisk --zap-all /dev/nvme0n1",
          "dd if=/dev/zero bs=1M count=10000 oflag=direct of=/dev/nvme0n1",
          "blkdiscard /dev/nvme0n1",
          "partprobe /dev/nvme0n1",
        ]
      volumeMounts:
        - mountPath: /dev
          name: dev
  securityContext:
    runAsUser: 0
    runAsGroup: 0
  volumes:
    - name: dev
      hostPath:
        path: /dev

