---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: aksver
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: aksver
  values:
    controllers:
      app:
        containers:
          app:
            image:
              repository: unixology/aksver_mock
              tag: "a5b8e0b"
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 47m
                memory: 256Mi

    service:
      app:
        controller: app
        ports:
          http:
            port: 8080
        primary: true

    route:
      app:
        hostnames:
          - aksver.k8sj.io
        parentRefs:
          - name: envoy-external
            namespace: networking
#        rules:
#          - backendRefs:
#              - identifier: app
#                port: 8080
