---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: openweb-ui
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: openweb-ui
  dependsOn:
    - name: cluster-apps-rook-ceph-cluster
  interval: 1h
  path: "./k8s/apps/ai/openweb-ui/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: ai
  timeout: 5m
