---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflare-ddns
  namespace: networking
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-oci
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: *app

    controllers:
      main:
        type: cronjob

        cronjob:
          concurrencyPolicy: Forbid
          schedule: "@hourly"

        pod:
          restartPolicy: OnFailure

        containers:
          main:
            image:
              repository: alpine/curl
              tag: latest
            command: ["/bin/sh", "-c", "/app/cloudflare-ddns.sh"]
            envFrom:
              - secretRef:
                name: cloudflare-ddns-secret

    persistence:
      config:
        type: configMap
        name: cloudflare-ddns-configmap
        globalMounts:
          - path: /app/cloudflare-ddns.sh
            subPath: cloudflare-ddns.sh
            defaultMode: 0775
            readOnly: true
