---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app immich
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 10m
  path: "./k8s/apps/media/immich/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  retryInterval: 1m
  timeout: 5m
  dependsOn:
    - name: cluster-apps-rook-ceph-cluster
