---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname aksver
  namespace: flux-system
spec:
  targetNamespace: default
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  interval: 10m
  path: "./k8s/apps/default/aksver/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
