global:
  domain: argocd.k8sj.io

configs:
  cm:
    timeout.reconciliation: 120s
    timeout.hard.reconciliation: 180s
    kustomize.buildOptions: --enable-helm --load-restrictor=LoadRestrictionsNone
  params:
    server.insecure: true

  clusterCredentials:
    antipodes:
      server: https://kubernetes.default.svc
      annotations:
        location: eastus2
        stage: int
      config:
        tlsClientConfig:
          insecure: false

server:
  httproute:
    enabled: true
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: ArgoCD
      gethomepage.dev/group: Kubernetes
      gethomepage.dev/icon: sh-argo-cd.png
      gethomepage.dev/name: ArgoCD
      gethomepage.dev/app: argo-cd
    parentRefs:
      - name: envoy-internal
        namespace: networking
    hostnames: ["argocd.k8sj.io"]
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /

  ingress:
    enabled: true
    ingressClassName: "nginx"
    tls: false
    extraTls:
      - hosts:
        - argocd.k8sj.io
        secretName: argocd-tls

dex:
  enabled: false

notifications:
  enabled: false
