# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich
  namespace: media
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    # For intel iGPU
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/arch: amd64
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 100
    controllers:
      server:
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.5.6@sha256:aa163d2e1cc2b16a9515dd1fef901e6f5231befad7024f093d7be1f2da14341a
            env:
              <<: &env-common
                REDIS_HOSTNAME: immich-redis
                DB_HOSTNAME: immich-postgres
                DB_DATABASE_NAME: immich
                DB_USERNAME: immich
                DB_PASSWORD: immich
              IMMICH_WORKERS_INCLUDE: &server-include 'api'
            securityContext: &security
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: 100m
                memory: 1Gi
      microservices:
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.5.6@sha256:aa163d2e1cc2b16a9515dd1fef901e6f5231befad7024f093d7be1f2da14341a
            env:
              <<: *env-common
              IMMICH_WORKERS_EXCLUDE: *server-include
            securityContext: *security
            resources:
              requests:
                cpu: 50m
                memory: 950Mi
      machine-learning:
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.5.6@sha256:b213fa3c82d27a21a299c46ffbb38a091f18384db1ad67d409a3b34fe0fce556
            env:
              <<: *env-common
              MPLCONFIGDIR: /tmp/matplotlib
            securityContext: *security
            resources:
              requests:
                cpu: 70m
                memory: 1860Mi
      redis:
        containers:
          app:
            image:
              repository: registry.hub.docker.com/library/redis
              tag: 8.6-alpine@sha256:2afba59292f25f5d1af200496db41bea2c6c816b059f57ae74703a50a03a27d0
            securityContext: *security
            args: [--save, '', --appendonly, 'no']
            resources:
              requests:
                cpu: 10m
                memory: 30Mi
        statefulset:
          podManagementPolicy: Parallel
        type: statefulset
      postgres:
        containers:
          app:
            env:
              POSTGRES_USER: immich
              POSTGRES_PASSWORD: immich
              POSTGRES_DB: immich
              PGDATA: /var/lib/postgresql/data/pgdata
            image:
              repository: registry.hub.docker.com/tensorchord/pgvecto-rs
              tag: pg14-v0.2.0@sha256:739cdd626151ff1f796dc95a6591b55a714f341c737e27f045019ceabf8e8c52
            resources:
              requests:
                cpu: 10m
                memory: 450Mi
        statefulset:
          podManagementPolicy: Parallel
          volumeClaimTemplates:
          - accessMode: ReadWriteOnce
            globalMounts:
            - path: /var/lib/postgresql/data
            name: pgdata
            size: 10Gi
        type: statefulset

    persistence:
      upload:
        type: nfs
        server: qnap.dom.lan
        path: /Media/IMMICH
        advancedMounts:
          server:
            app:
            - path: /usr/src/app/upload
          microservices:
            app:
            - path: /usr/src/app/upload

      photos:
        type: nfs
        server: qnap.dom.lan
        path: /Media/Zdjecia
        advancedMounts:
          server:
            app:
            - path: /mnt/syno-photos
          microservices:
            app:
            - path: /mnt/syno-photos

      model-cache:
        type: emptyDir
        advancedMounts:
          machine-learning:
            app:
            - path: /cache

      tmp:
        type: emptyDir

    service:
      machine-learning:
        controller: machine-learning
        ports:
          http:
            port: 3003
      server:
        controller: server
        ports:
          http:
            port: &port 2283
      postgres:
        controller: postgres
        ports:
          http:
            port: 5432
      redis:
        controller: redis
        ports:
          http:
            port: 6379
    ingress:
      immich:
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: mdi:image
        className: nginx
        hosts:
        - host: &host "immich.k8sj.io"
          paths:
          - path: /
            service:
              identifier: server
              port: http
        tls:
          - hosts:
              - *host

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Immich
          gethomepage.dev/group: Media
          gethomepage.dev/icon: sh-immich.png
          gethomepage.dev/name: Immich
          gethomepage.dev/app: immich
        hostnames: ["{{ .Release.Name }}.k8sj.io"]
        parentRefs:
          - name: envoy-internal
            namespace: networking

        rules:
          - backendRefs:
              - identifier: server
                port: *port
