apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  targetNamespace: monitoring
  commonMetadata:
    labels:
      app.kubernetes.io/name: kube-prometheus-stack
  interval: 10m
  path: "./k8s/apps/monitoring/kube-prometheus-stack/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  retryInterval: 1m
  timeout: 5m
  wait: true

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-prometheus-stack-crd
  namespace: flux-system
spec:
  targetNamespace: monitoring
  commonMetadata:
    labels:
      app.kubernetes.io/name: kube-prometheus-stack
  interval: 10m
  path: "./k8s/apps/monitoring/kube-prometheus-stack/crd"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  retryInterval: 1m
  timeout: 5m
