---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: frigate
spec:
  chartRef:
    kind: OCIRepository
    name: frigate
  interval: 30m
  values:
    controllers:
      frigate:
        annotations:
          configmap.reloader.stakater.com/reload: frigate-config
        pod:
          nodeSelector:
            feature.node.kubernetes.io/coral: "true"
            intel.feature.node.kubernetes.io/gpu: "true"
        containers:
          app:
            image:
              repository: ghcr.io/blakeblackshear/frigate
              tag: 0.16.2
            envFrom:
              - secretRef:
                  name: frigate
            securityContext:
              privileged: true
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/version
                    port: 5000
                  initialDelaySeconds: 60
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 5
              readiness: *probes
              startup:
                enabled: false
            resources:
              requests:
                cpu: 2
                memory: 4Gi
              limits:
                memory: 8Gi
                gpu.intel.com/i915: 1
    service:
      app:
        ports:
          http:
            appProtocol: kubernetes.io/wss
            port: 5000

    ingress:
      app:
        className: nginx
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/appName: "Frigate"
          hajimari.io/icon: mdi:cctv
        hosts:
          - host: &host frigate.k8sj.io
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Frigate
          gethomepage.dev/group: Security
          gethomepage.dev/icon: sh-frigate.png
          gethomepage.dev/name: Frigate
          gethomepage.dev/app: frigate
        hostnames: ["{{ .Release.Name }}.k8sj.io"]
        parentRefs:
          - name: envoy-internal
            namespace: networking

    persistence:
      data:
        existingClaim: frigate
      config:
        type: configMap
        name: frigate-config
        globalMounts:
          - path: /config/config.yml
            subPath: config.yml
            readOnly: true
      cache:
        type: emptyDir
        medium: Memory
        sizeLimit: 2Gi
        globalMounts:
          - path: /dev/shm
      media:
        type: nfs
        server: nfs2.dom.lan
        path: /volume1/nvr
        globalMounts:
          - path: /media
