---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./external-dns/ks.yaml
  - ./multus/ks.yaml
  - ./unifi-controller/ks.yaml
  - ./openspeedtest/ks.yaml
  - ./envoy-gateway/ks.yaml
  - ./cloudflare-tunnel/ks.yaml
  - ./multus-controller/deployment.yaml
