---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: matter
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: matter
  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      matter:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "networking",
                "ips": [
                  "192.168.2.249/16",
                  "fd00:cafe:babe::249/48"
                ]
              }]

        containers:
          app:
            image:
              repository: ghcr.io/home-assistant-libs/python-matter-server
              tag: 8.1.0@sha256:170aa093ce91c76cde4cc390918307590f0f5558fcec93f913af3cb019e6562a
            env:
              TZ: Europe/Warsaw
              MATTER_SERVER__INSTANCE_NAME: "{{ .Release.Name }}"
              MATTER_SERVER__PORT: &port 5580
              MATTER_SERVER__APPLICATION_URL: &host "{{ .Release.Name }}.k8sj.io"
              MATTER_SERVER__LOG_LEVEL: info
            args:
              - --storage-path=/data
              - --primary-interface=net1
              - --log-level=debug
              - --log-level-sdk=info
            resources:
              requests:
                cpu: 47m
                memory: 1Gi
              limits:
                memory: 1Gi

    service:
      app:
        ports:
          http:
            appProtocol: kubernetes.io/wss
            port: *port
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Matter
          gethomepage.dev/group: "Home Automation"
          gethomepage.dev/icon: sh-home-assistant.png
          gethomepage.dev/name: Matter
        hostnames:
          - *host
        parentRefs:
          - name: envoy-internal
            namespace: networking
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
      tmp:
        type: emptyDir
