---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: smb
  namespace: kube-system
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: smbcreds
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        username: "{{ .smb_username }}"
        password: "{{ .smb_password }}"
  dataFrom:
    - extract:
        key: smb
      rewrite:
        - regexp:
            source: "(.*)"
            target: "smb_$1"
