---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: dns-mikrotik
spec:
  refreshInterval: 12h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: dns-mikrotik
    creationPolicy: Owner
    template:
      data:
        MIKROTIK_BASEURL: "{{ .mikrotik_baseurl }}"
        MIKROTIK_USERNAME: "{{ .mikrotik_user }}"
        MIKROTIK_PASSWORD: "{{ .mikrotik_pass }}"
        MIKROTIK_SKIP_TLS_VERIFY: "true"
  dataFrom:
    - extract:
        key: mikrotik
      rewrite:
        - regexp:
            source: "(.*)"
            target: "mikrotik_$1"
