---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cloudflared
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: cloudflared
  interval: 1h
  path: "./k8s/apps/networking/cloudflare-tunnel/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: networking
  timeout: 5m
  wait: false
