---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./cilium/ks.yaml
  - kubelet-csr-approver
  - metrics-server
#  - ./descheduler/ks.yaml
  - ./coredns/ks.yaml
  - reloader
  - ./node-feature-discovery/ks.yaml
  - ./intel-device-plugins/ks.yaml
  - ./intel-gpu-resource-driver/ks.yaml
#  - kube-cleanup-operator
  - ./external-secrets
  - ./snapshot-controller/ks.yaml
  - ./spegel/ks.yaml
#  - generic-device-plugin/ks.yaml
