---
autoDirectNodeRoutes: true
bandwidthManager:
  bbr: true
  enabled: true
bpf:
  datapathMode: netkit
  preallocateMaps: true
  masquerade: true
bpfClockProbe: true
bgpControlPlane:
  enabled: true
cgroup:
  automount:
    enabled: false
  hostRoot: /sys/fs/cgroup
cni:
  exclusive: false
dashboards:
  enabled: true
  annotations:
    grafana_folder: Cilium
devices: b+ enp+
endpointRoutes:
  enabled: true
envoy:
  enabled: false
gatewayAPI:
  enabled: false
hubble:
  enabled: false
ipam:
  mode: kubernetes
ipv4NativeRoutingCIDR: 10.244.0.0/16
k8sServiceHost: 127.0.0.1
k8sServicePort: 7445
kubeProxyReplacement: true
kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
l2announcements:
  enabled: false
loadBalancer:
  algorithm: maglev
  mode: dsr
localRedirectPolicies:
  enabled: true
operator:
  dashboards:
    enabled: true
    annotations:
      grafana_folder: Cilium
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: true
  replicas: 2
  rollOutPods: true
pmtuDiscovery:
  enabled: true
prometheus:
  enabled: true
  serviceMonitor:
    enabled: true
    trustCRDsExist: true
rollOutCiliumPods: true
routingMode: native
k8sNetworkPolicy:
  enabled: false
securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - PERFMON
      - BPF
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
      - PERFMON
      - BPF
socketLB:
  enabled: true
  hostNamespaceOnly: true
