---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: maintainerr
spec:
  chartRef:
    kind: OCIRepository
    name: maintainerr
  interval: 30m
  values:
    controllers:
      qbittorrent:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            fsGroup: 100
            fsGroupChangePolicy: "OnRootMismatch"
            runAsGroup: 100
            runAsNonRoot: true
            runAsUser: 2000
            supplementalGroups:
              - 586
              - 100
        containers:
          app:
            nameOverride: maintainerr
            image:
              repository: ghcr.io/maintainerr/maintainerr
              tag: 3.0.1@sha256:91ea358e965c2693e18e1f21ce1e7df016610bfdfd50e94d1fa3cc8e5e1a53f4
            env:
              UI_PORT: &port 80
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 250m
                memory: 512Mi
              limits:
                memory: 2Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
    service:
      app:
        forceRename: maintainerr
        ports:
          http:
            port: *port
        primary: true

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Maintainerr
          gethomepage.dev/group: Downloads
          gethomepage.dev/icon: sh-maintainerr.png
          gethomepage.dev/name: Maintainerr
          gethomepage.dev/app: maintainerr
        hostnames: ["{{ .Release.Name }}.k8sj.io"]
        parentRefs:
          - name: envoy-internal
            namespace: networking
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        enabled: true
        existingClaim: maintainerr
        globalMounts:
          - path: /opt/data
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
