---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: n8n
spec:
  chartRef:
    kind: OCIRepository
    name: n8n
  interval: 30m
  values:
    controllers:
      n8n:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
            runAsGroup: 1000
            runAsUser: 1000

        containers:
          app:
            image:
              repository: ghcr.io/n8n-io/n8n
              tag: 2.9.0
            env:
              DB_SQLITE_VACUUM_ON_STARTUP: true
              EXECUTIONS_DATA_PRUNE: true
              EXECUTIONS_DATA_MAX_AGE: 7
              EXECUTIONS_DATA_PRUNE_MAX_COUNT: 50000
              GENERIC_TIMEZONE: "Europe/Warsaw"
              N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: false
              N8N_PROTOCOL: "https"
              N8N_PORT: &port 8080
              N8N_HOST: &hostName n8n.k8sj.io
              N8N_LOG_LEVEL: info
              N8N_LOG_OUTPUT: console
              N8N_ENCRYPTION_KEY:
                valueFrom:
                  secretKeyRef:
                    name: n8n-secret
                    key: N8N_ENCRYPTION_KEY
              N8N_PROXY_HOPS: 1
              WEBHOOK_URL: https://n8n.k8sj.io/
            resources:
              requests:
                cpu: 5m
                memory: 128Mi
              limits:
                memory: 2Gi

    service:
      app:
        ports:
          http:
            port: *port

    persistence:
      data:
        existingClaim: n8n
        advancedMounts:
          n8n:
            app:
              - path: /home/node/.n8n

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: N8N
          gethomepage.dev/group: Media
          gethomepage.dev/icon: sh-n8n.png
          gethomepage.dev/name: N8n
          gethomepage.dev/app: n8n
        hostnames:
          - *hostName
        parentRefs:
          - name: envoy-internal
            namespace: networking

      webhooks:
        hostnames:
          - n8n-webhook.k8sj.io
        parentRefs:
          - name: envoy-external
            namespace: networking

        rules:
          - matches:
              - path:
                  value: /webhook
              - path:
                  value: /webhook-test
            backendRefs:
              - {}
