---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kubelet-csr-approver
  namespace: kube-system
spec:
  interval: 10m
  chart:
    spec:
      chart: kubelet-csr-approver
      version: 1.2.2
      sourceRef:
        kind: HelmRepository
        name: postfinance
        namespace: flux-system
      interval: 10m
  valuesFrom:
    - kind: ConfigMap
      name: kubelet-csr-approver-helm-values
