---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-3.1.0/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unifi-controller
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.5.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-oci
        namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3

  values:
    controllers:
      unifi-controller:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"

        replicas: 1

        pod:
          securityContext:
            runAsUser: &context 999
            runAsGroup: *context
            fsGroup: *context
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: ghcr.io/goofball222/unifi
              tag: 8.4.62-ubuntu
              pullPolicy: IfNotPresent
            env:
              RUNAS_UID0: "false"
              PUID: "999"
              PGID: "999"
              JVM_MAX_HEAP_SIZE: "1024M"

            resources:
              requests:
                cpu: 12m
                memory: 764Mi
              limits:
                memory: 789Mi

    service:
      app:
        controller: unifi-controller
        type: LoadBalancer
        externalIPs:
          - 172.16.99.108
        ports:
          http:
            port: 8443
            protocol: HTTPS
          controller:
            port: 8080
            protocol: TCP
          stun:
            port: 3478
            protocol: UDP

    ingress:
      main:
        annotations:
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
          hajimari.io/enable: "true"
          hajimari.io/appName: "Unifi"
          hajimari.io/icon: mdi:wifi
        enabled: true
        className: nginx
        hosts:
          - host: &host "unifi.k8sj.io"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      config:
        existingClaim: unify-config
        globalMounts:
          - path: /usr/lib/unifi/data
