---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-3.1.0/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unifi-controller
spec:
  interval: 15m
  timeout: 20m
  chartRef:
    kind: OCIRepository
    name: unify
  values:
    controllers:
      unifi-controller:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"

        replicas: 1

        pod:
          securityContext:
            runAsUser: &context 999
            runAsGroup: *context
            fsGroup: *context
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: ghcr.io/goofball222/unifi
              tag: 10.1.85-ubuntu
              pullPolicy: IfNotPresent
            env:
              RUNAS_UID0: "false"
              PUID: "999"
              PGID: "999"
              JVM_MAX_HEAP_SIZE: "1024M"

            resources:
              requests:
                cpu: 12m
                memory: 764Mi
              limits:
                memory: 1024Mi

    service:
      app:
        annotations:
          lbipam.cilium.io/ips: 172.16.99.108
        controller: unifi-controller
        type: LoadBalancer
        ports:
          https:
            port: &port 8443
            protocol: HTTPS
          controller:
            port: 8080
            protocol: TCP
          stun:
            port: 3478
            protocol: UDP

    ingress:
      main:
        annotations:
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
          hajimari.io/enable: "true"
          hajimari.io/appName: "Unifi"
          hajimari.io/icon: mdi:wifi
        enabled: true
        className: nginx
        hosts:
          - host: &host "unifi.k8sj.io"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: https
        tls:
          - hosts:
              - *host

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Unify Controller
          gethomepage.dev/group: Security
          gethomepage.dev/icon: sh-ubiquiti-unifi.png
          gethomepage.dev/name: Unify
          gethomepage.dev/app: unifi-controller
#          gethomepage.dev/href: https://172.16.99.108:8443
        hostnames:
          - "unifi.k8sj.io"
        parentRefs:
          - name: envoy-internal
            namespace: networking
        rules:
          - backendRefs:
              - group: gateway.envoyproxy.io
                kind: Backend
                name: unifi-controller
                port: *port

    persistence:
      config:
        existingClaim: unify-config
        globalMounts:
          - path: /usr/lib/unifi/data
