---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: music-assistant
  namespace: home-automation
spec:
  interval: 10m
  chartRef:
    kind: OCIRepository
    name: music-assistant
  values:
    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: node-role.kubernetes.io/control-plane
                  operator: Exists

    controllers:
      music-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
          descheduler.alpha.kubernetes.io/evict: "false"

        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "networking",
                "ips": ["192.168.2.251/16"]
              }]
          securityContext:
            runAsUser: 0
            runAsGroup: 1000
            runAsNonRoot: false
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: ghcr.io/music-assistant/server
              tag: 2.7.7
            command:
              - "/bin/sh"
              - "-c"
            args:
              - find /app/venv -type f -exec grep -l 'interfaces=InterfaceChoice.Default' {} \; | xargs -r sed -i 's/interfaces=InterfaceChoice.Default/interfaces=InterfaceChoice.All/g' && exec mass --config /data
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 47m
                memory: 4096Mi
              limits:
                memory: 6144Mi
    service:
      app:
        controller: music-assistant
        ports:
          http:
            port: 8095

    ingress:
      app:
        className: "nginx"
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: mdi:music
        hosts:
          - host: &host music.k8sj.io
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: "Music Assistant"
          gethomepage.dev/group: Media
          gethomepage.dev/icon: sh-music-assistant.png
          gethomepage.dev/name: "Music Assistant"
          gethomepage.dev/app: music-assistant
        hostnames: ["music.k8sj.io"]
        parentRefs:
          - name: envoy-internal
            namespace: networking

    persistence:
      data:
        existingClaim: music-assistant-config
        advancedMounts:
          music-assistant:
            app:
              - path: /data
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
