---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-device-plugins-gpu
  namespace: kube-system
spec:
  interval: 10m
  chart:
    spec:
      chart: intel-device-plugins-gpu
      version: 0.31.1
      interval: 10m
      sourceRef:
        kind: HelmRepository
        name: intel
        namespace: flux-system
  values:
    name: intel-gpu-plugin
    sharedDevNum: 3
    nodeFeatureRule: false
