---
mqtt:
  host: emqx-listeners.database.svc.cluster.local
  user: "{FRIGATE_MQTT_USERNAME}"
  password: "{FRIGATE_MQTT_PASSWORD}"
database:
  path: /data/frigate.db
detectors:
  coral:
    type: edgetpu
    device: usb
ffmpeg:
#  global_args: ["-hide_banner", "-loglevel", "warning"]
  hwaccel_args: preset-intel-qsv-h264 #preset-vaapi #preset-intel-qsv-h264
  input_args: preset-rtsp-restream-low-latency #preset-rtsp-restream #preset-rtmp-generic
detect:
  width: 1920
  height: 1080
birdseye:
  mode: continuous
  enabled: True
  restream: True
record:
  enabled: true
  retain:
    days: 7
    mode: motion
  alerts:
    retain:
      days: 7
      mode: active_objects
  detections:
    retain:
      days: 14
      mode: active_objects
snapshots:
  enabled: true
  retain:
    default: 14
    objects:
      person: 14
objects:
  track:
    - person
    - dog
    - cat
    - bicycle
    - car
cameras:
#  camera_1:
#    detect:
#      enabled: true
#      width: 1920
#      height: 1080
#    motion:
#      mask:
#        - 0.018,0,0.268,0,0.267,0.049,0.017,0.046
#    ffmpeg:
#      inputs:
#        - path: rtsp://go2rtc.home-automation.svc.cluster.local:554/camera_1_lq
#          roles:
#            - detect
#        - path: rtsp://go2rtc.home-automation.svc.cluster.local:554/camera_1_hq
#          roles:
#            - record
  camera_2:
    detect:
      enabled: true
      width: 1920
      height: 1080
    motion:
      mask:
        - 0.018,0,0.268,0,0.267,0.049,0.017,0.046
    ffmpeg:
      inputs:
        - path: rtsp://go2rtc.home-automation.svc.cluster.local:554/camera_2_hq
          roles:
            - record
        - path: rtsp://go2rtc.home-automation.svc.cluster.local:554/camera_2_lq
          roles:
            - detect
  camera_3:
    detect:
      enabled: true
      width: 1920
      height: 1080
    objects:
      filters:
        person:
          mask:
            - 0.128,0.269,0.113,0.557,0.19,0.533,0.248,0.343,0.22,0.246,0.172,0.251,0.129,0.269
            - 0.561,0.342,0.587,0.357,0.59,0.282,0.565,0.273
    motion:
      mask:
        - 0.018,0,0.268,0,0.267,0.049,0.017,0.046
        - 0,0.369,0,0,0.054,0.011,0.059,0.133,0.072,0.118,0.106,0.151,0.111,0.2,0.104,0.277,0.123,0.265,0.141,0.261,0.177,0.254,0.211,0.237,0.221,0.272,0.247,0.343,0.208,0.522,0.08,0.589,0,0.869
    ffmpeg:
      inputs:
        - path: rtsp://go2rtc.home-automation.svc.cluster.local:554/camera_3_hq
          roles:
            - record
        - path: rtsp://go2rtc.home-automation.svc.cluster.local:554/camera_3_lq
          roles:
            - detect
  camera_4:
    detect:
      enabled: true
      width: 1920
      height: 1080
    objects:
      filters:
        car:
          mask:
            - 0.143,1,0.389,0.378,0.726,0.378,0.973,1
            - 0,0.451,0.361,0.443,0.141,1,0.002,1
        person:
          mask:
            - 0.785,0.635,0.847,0.781,0.912,0.608,0.849,0.481
            - 0.394,0.188,0.393,0.231,0.414,0.225,0.411,0.18
    motion:
      mask:
        - 0.018,0,0.268,0,0.267,0.049,0.017,0.046
    ffmpeg:
      inputs:
        - path: rtsp://go2rtc.home-automation.svc.cluster.local:554/camera_4_hq
          roles:
            - record
        - path: rtsp://go2rtc.home-automation.svc.cluster.local:554/camera_4_lq
          roles:
            - detect
  camera_5:
    detect:
      enabled: true
      width: 1920
      height: 536
    motion:
      threshold: 50
      contour_area: 35
      mask:
        - 0.015,0,0.015,0.083,0.265,0.083,0.265,0
    ffmpeg:
      hwaccel_args: ""
      inputs:
        - path: rtsp://go2rtc.home-automation.svc.cluster.local:554/camera_5_hq
          roles:
            - record
        - path: rtsp://go2rtc.home-automation.svc.cluster.local:554/camera_5_lq
          roles:
            - detect
  camera_6:
    detect:
      enabled: true
      width: 1920
      height: 536
    objects:
      filters:
        car:
          mask:
            - 0.616,0.27,0.793,0.856,0.828,0.654,0.839,0.547,0.709,0.248,0.658,0.26
            - 0.318,0.601,0.347,0.66,0.374,0.691,0.407,0.681,0.542,0.634,0.546,0.403,0.497,0.302,0.453,0.289,0.451,0.178,0.322,0.183,0.303,0.282
            - 0.557,0.329,0.549,0.653,0.308,0.743,0.302,0.993,0.849,1,0.612,0.295
    motion:
      threshold: 40
      contour_area: 25
      mask:
        - 0.015,0,0.015,0.083,0.265,0.083,0.265,0
    ffmpeg:
      hwaccel_args: ""
      inputs:
        - path: rtsp://go2rtc.home-automation.svc.cluster.local:554/camera_6_hq
          roles:
            - record
        - path: rtsp://go2rtc.home-automation.svc.cluster.local:554/camera_6_lq
          roles:
            - detect
