---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: home-assistant
  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: node-role.kubernetes.io/control-plane
                  operator: Exists

    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "networking",
                "ips": ["192.168.2.253/16"]
              }]

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.11.3
            env:
              HASS_HTTP_TRUSTED_PROXY_1: 192.168.0.0/16
              HASS_HTTP_TRUSTED_PROXY_2: 10.244.0.0/16
              SECRET_RECORDER_DB_URL:
                valueFrom:
                  secretKeyRef:
                    name: home-assistant-pguser-home-assistant
                    key: uri
            envFrom:
              - secretRef:
                  name: home-assistant-secret
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 47m
                memory: 2Gi
              limits:
                memory: 4Gi
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.106.2@sha256:cca5c0bbff928df75ba9344a878e4ca7a321c0d42c34b39e02722b29855a56ac
            args:
              - --auth
              - none
              - --disable-telemetry
              - --disable-update-check
              - --user-data-dir
              - /data/user-data
              - --extensions-dir
              - /data/extensions
              - --port
              - "12321"
              - /config
            env:
              HASS_SERVER: https://hass.k8sj.io
#              HASS_TOKEN:
#                secretKeyRef:
#                  name: home-assistant-secret
#                  key: vscode_hass_token
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi

    service:
      app:
        ports:
          http:
            appProtocol: kubernetes.io/wss
            port: 8123
        primary: true
      code-server:
        ports:
          code-server:
            port: 12321

    ingress:
      app:
        enabled: true
        className: "nginx"
        annotations:
          external-dns.home.arpa/enabled: "true"
          external-dns.alpha.kubernetes.io/target: ipv4.k8sj.io
          hajimari.io/enable: "true"
          hajimari.io/appName: "Hass"
          hajimari.io/icon: mdi:home-assistant
        hosts:
          - host: &host hass.k8sj.io
            paths:
              - path: /
                service:
                  identifier: app
                  port: 8123
        tls:
          - hosts:
              - *host

      code-server:
        enabled: true
        className: "nginx"
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/appName: "Hass Config"
          hajimari.io/icon: cib:visual-studio-code
        hosts:
          - host: &host-code hass-code.k8sj.io
            paths:
              - path: /
                service:
                  identifier: code-server
                  port: 12321
        tls:
          - hosts:
              - *host-code

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Hass
          gethomepage.dev/group: "Home Automation"
          gethomepage.dev/icon: sh-home-assistant.png
          gethomepage.dev/name: Hass
          gethomepage.dev/app: home-assistant
        hostnames:
          - hass.k8sj.io
        parentRefs:
          - name: envoy-internal
            namespace: networking
        rules:
          - backendRefs:
              - identifier: app
                port: 8123
      code:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: "Hass Config"
          gethomepage.dev/group: "Home Automation"
          gethomepage.dev/icon: sh-home-assistant.png
          gethomepage.dev/name: "Hass Config"
          gethomepage.dev/app: home-assistant
        hostnames:
          - hass-code.k8sj.io
        parentRefs:
          - name: envoy-internal
            namespace: networking
        rules:
          - backendRefs:
              - identifier: code-server
                port: 12321

    persistence:
      config:
        existingClaim: home-assistant-config
        advancedMounts:
          home-assistant:
            app:
              - path: /config
                subPath: config
            code-server:
              - path: /config
                subPath: config
              - path: /data
                subPath: code-server
      hass-cache:
        existingClaim: hass-cache
        advancedMounts:
          home-assistant:
            app:
              - path: /config/.venv
                subPath: hass-venv
      tmpfs:
        type: emptyDir
        advancedMounts:
          home-assistant:
            app:
              - path: /tmp
                subPath: hass-tmp
            code-server:
              - path: /tmp
                subPath: code-server-tmp
              - path: /nonexistent
                subPath: nonexistent
