---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname zigbee
  namespace: flux-system
spec:
  targetNamespace: home-automation
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  interval: 10m
  path: "./k8s/apps/home-automation/zigbee/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
  dependsOn:
    - name: cluster-apps-rook-ceph-cluster
  postBuild:
    substitute:
      APP: *appname
      VOLSYNC_CLAIM: *appname
      VOLSYNC_CAPACITY: 5Gi
