---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex
spec:
  chartRef:
    kind: OCIRepository
    name: plex
  interval: 30m
  values:
    controllers:
      plex:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          nodeSelector:
            intel.feature.node.kubernetes.io/gpu: "true"
          securityContext:
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 2000
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 44
              - 109
              - 568
              - 100

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.43.0.10492@sha256:8cb062f2b0660bd7811387e6c799da0ce5f18112078fe21485c11adcc83a9c1c
            env:
              PLEX_ADVERTISE_URL: https://172.16.99.180:32400,https://plex.k8sj.io:443
              PLEX_NO_AUTH_NETWORKS: 10.244.0.0/16
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: &port 32400
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 100m
                gpu.intel.com/i915: 1
                memory: 9248M
              limits:
                gpu.intel.com/i915: 1
                memory: 9248M

    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 172.16.99.180
        externalTrafficPolicy: Local
        ports:
          http:
            port: *port

    ingress:
      app:
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/appName: "Plex"
          hajimari.io/icon: simple-icons:plex
          nginx.ingress.kubernetes.io/whitelist-source-range: "10.0.0.0/8,172.16.0.0/12,192.168.0.0/16"
          nginx.ingress.kubernetes.io/backend-protocol: HTTPS
        className: "nginx"
        hosts:
          - host: &host plex.k8sj.io
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Plex
          gethomepage.dev/group: Media
          gethomepage.dev/icon: sh-plex.png
          gethomepage.dev/name: Plex
          gethomepage.dev/app: plex
          gethomepage.dev/href: https://plex.k8sj.io/web
        hostnames:
          - "{{ .Release.Name }}.k8sj.io"
        parentRefs:
          - name: envoy-internal
            namespace: networking
        rules:
          - # Ref: https://forums.plex.tv/t/external-srt-subtitles-are-not-working-w-reverse-proxy/886540
            backendRefs:
              - identifier: app
                port: *port
            filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  remove:
                    - Range
            matches:
              - path:
                  type: PathPrefix
                  value: /library/streams
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      config:
        existingClaim: plex-config
        advancedMounts:
          plex:
            app:
              - path: /config
      plex-cache:
        existingClaim: plex-cache
        advancedMounts:
          plex:
            app:
              - path: /config/Library/Application Support/Plex Media Server/Cache
      logs:
        type: emptyDir
        advancedMounts:
          plex:
            app:
              - path: /config/Library/Application Support/Plex Media Server/Logs
      downloads:
        type: nfs
        server: nfs.dom.lan
        path: /volume1/Downloads
        advancedMounts:
          plex:
            app:
              - path: /storage/downloads
      qnap:
        type: nfs
        server: qnap.dom.lan
        path: /Media
        globalMounts:
          - path: /storage/qnap
      transcode:
        type: emptyDir
        advancedMounts:
          plex:
            app:
              - path: /transcode
