---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app k8s-gateway
  namespace: networking
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-oci
        namespace: flux-system
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    defaultPodOptions:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: *app

    controllers:
      main:
        type: deployment
        replicas: 3
        strategy: RollingUpdate
        annotations:
              reloader.stakater.com/auto: "true"
        containers:
          k8s-gateway:
            image:
              repository: quay.io/oriedge/k8s_gateway
              tag: v0.4.0
            args: ["-conf", "/etc/coredns/Corefile"]
            probes:
              readiness:
                custom: true
                spec:
                  httpGet:
                    path: /ready
                    port: 8181
              liveness:
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 8080
              startup:
                enabled: false

    service:
      main:
        controller: main
        type: LoadBalancer
        externalIPs:
          - 172.16.99.101
        externalTrafficPolicy: Cluster
        ports:
          metrics:
            port: 9153
          dns:
            port: 53
            targetPort: 1053
            protocol: UDP

    serviceMonitor:
      main:
        serviceName: main
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s

    serviceAccount:
      create: true
      name: *app

    persistence:
      config-file:
        type: configMap
        name: k8s-gateway-configmap
        globalMounts:
          - path: /etc/coredns/Corefile
            subPath: Corefile
            readOnly: true
